@font-face {
    font-family: norse-bold;
    src: url("assets/Norse-Bold.otf")
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.left-side, .right-side {
    height: 100%;
}

.left-side {
    position: relative;
    display: inline-block;
}


.logo {
    width: 80px;
}

.behind-logo {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    font-family: norse-bold, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3% 0 3% 0;
}

.logo-text {
    white-space: nowrap;
}

.background {
    height: 100%;
    object-fit: cover;
    width: 30vw;
    padding: 0;
    margin: 0;
}

.right-side {
    display: inline-block;
}

.right-side > * {
    display: inline-block;
}

.top-text {
    margin-top: 15vh;
    margin-right: 25vw;
    margin-left: 3vw;
    font-weight: 700;
    text-overflow: initial;
    font-size: large;
    min-width: 35ch;
}

.create-account {
    background-color: wheat;
}

.form {
    width: 100%;
}

.create-account-form {
    background-color: lightgray;
    display: inline-grid;
    width: 100%;
    padding: 5vh 35% 5vh 3vw;
    row-gap: 5vh;
    column-gap: 5vw;
}

.label-input {
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 19rem;
}

.label-input.fname {
    grid-column: 1;
    grid-row: 1;
}

.label-input.lname {
    grid-column: 2;
    grid-row: 1;
}

.label-input.email {
    grid-column: 1;
    grid-row: 2;
}

.label-input.phone-number {
    grid-column: 2;
    grid-row: 2
}

.label-input.password {
    grid-column: 1;
    grid-row: 3;
}

.label-input.confirm-password {
    grid-column: 2;
    grid-row: 3;
}

.create-account-sub-section {
    font-size: large;
}

.create-account-button {
    padding: 2% 10% 2% 10%;
    margin-bottom: 5%;
    font-size: large;
}

.log-in-button {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
