@font-face {
    font-family: norse-bold;
    src: url("assets/Norse-Bold.otf")
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.left-side, .right-side {
    height: 100%;
}

.left-side {
    position: relative;
    display: inline-block;
}


.logo {
    width: 80px;
}

.behind-logo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    font-family: norse-bold, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3% 0 3% 0;
}

.logo-text {
    white-space: nowrap;
}

.background {
    height: 100%;
    object-fit: cover;
    width: 30vw;
    padding: 0;
    margin: 0;
}

.right-side {
    display: inline-block;
}

.right-side > * {
    display: inline-block;
}

.top-text {
    margin-top: 15vh;
    margin-right: 25vw;
    margin-left: 3vw;
    font-weight: 500;
    text-overflow: initial;
    font-size: large;
}

.create-account {
    margin-bottom: 15vh;
}

.create-account-form {
    margin-left: 3vw;
    display: grid;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 0%;
}
